<main>
  <section>
    <partial src="_post.html"></partial>
    <partial src="_post.html"></partial>
    <partial src="_post.html"></partial>
  </section>
  <section class="secondary-content">

    <div class="author secondary-content__child">
      <img class="author__img" src="https://via.placeholder.com/150" alt="Lorem">
      <h2 class="author__name">Author</h2>
      <p class="author__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quidem earum quod commodi rem quia nihil cum dolorem sunt amet? Quod, unde maxime optio iste quia laudantium sed nesciunt ipsam?</p>
    </div>

    <nav class="secondary-content__child">
      <ul class="nav__list">
        <li><a href="">Sección 1</a></li>
        <li><a href="">Sección 2</a></li>
        <li><a href="">Sección 3</a></li>
        <li><a href="">Sección 4</a></li>
        <li><a href="">Sección 5</a></li>
      </ul>

      <ul class="nav__list">
        <li><a href="">Categoría 1</a></li>
        <li><a href="">Categoría 2</a></li>
        <li><a href="">Categoría 3</a></li>
        <li><a href="">Categoría 4</a></li>
        <li><a href="">Categoría 5</a></li>
      </ul>
    </nav>
  </section>
</main>
