*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  background-color: gray;
  background: linear-gradient(90deg,$color-greyMouse 50%, $color-whiteSnow 50%);
  color: $color-blackBatman;
  min-height: 100vh;
}

ul, ol {
  list-style: none;
}


